@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-primary:#fda12b;
    --bg-white:#fff;
    --bg-secondary:#182333;
    --primary-font:"Poppins", sans-serif;
    --text-white:#fff;
    --text-black:#000;
    --text-primary:#fda12b;
    --text-secondary:#182333;
    --text-gray:#bebcbc;
}
/* SCROLLBAR */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,var(--text-secondary));
    /* border-radius: 8px; */
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,var(--text-primary));
}

.bg-primary{
    background:var(--bg-primary)!important;
}
.bg-secondary{
    background: var(--bg-secondary)!important;
}
.text-primary{
    color: var(--text-primary)!important;
}
.text-secondary{
    color: var(--text-secondary)!important;
}
.text-gray{
    color: var(--text-gray);
}

.form-control:focus {
    color: var(--text-primary);
    border-color: var(--text-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 161, 43, 0.25);
}

body{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background-color: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}
a,a:hover{
    text-decoration: none;
}
p{
    margin: 0;
}
.nav-pills .nav-link{
    border-radius: 0 ;
    color: var(--text-secondary);
    font-weight: 500;
    transition: all ease-in-out .5s;
}
.nav-pills .nav-link.active{
    background: var(--bg-primary);
    color: var(--bg-white);
}
.lbtn{
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1rem;
    margin: 0.5rem 0;
    transition: all ease-in-out .4s;
}
.lbtn:hover {
    color: var(--text-secondary);  
}

.btn-danger{
    background: var(--bg-primary);
    border-color: var(--bg-primary);
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all ease-in-out .2s;
}
.btn-danger:hover{
    color: var(--text-primary);
    border-color: var(--bg-primary);
    background: transparent;
}

header .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 5%);
}
header .logo{
    width: 14rem;
}
header .navbar-nav .nav-item .nav-link{
    color: var(--text-secondary);
    padding: 0.5rem;
    font-weight: 500;
}
header .navbar-nav .nav-item .nav-link:hover,
header .navbar-nav .nav-item .nav-link.active{
color: var(--text-primary);
}
header .toggler{
    width: unset;
    height: unset;

}
header .navbar-toggler{
    border: none;
}
header .navbar-toggler:focus{
    box-shadow: none;
}
header .text {
    font-weight: 700;
}
.home{
    padding-top: 4rem;
}
.home .carousel-item{
    height: 80vh;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}
.home img{
    height: 100%;
}
.home .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.home .home-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%,-50%);
}
.home .home-text h3{
    font-size: 3.4rem;
    font-weight: 600;
    color: var(--text-white);
}
.home .home-text p{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-primary);
}
.home button span{
    font-size: 2rem;
}
.cardoverlay{
    transform: translate(0%,-15%);
}
.cardoverlay .card{
border: unset;
border-radius: unset;
text-align: center;
}
.cardoverlay .card .card-box{
    background: var(--bg-secondary);
    color: var(--text-white);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    margin: 2rem auto;
    font-size: 2rem;
}
.cardoverlay .card h5{
    font-weight: 600;
}
.cardoverlay .card p{
    color: var(--text-gray);
    font-size: 0.9rem;
}
.cardoverlay .card-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about .text{
    border-left:6px solid var(--bg-primary);
}
.about .text h2{
    font-weight: 600;
    font-size: 2.5rem;
}

.service .text{
    border-left:6px solid var(--bg-secondary);
}
.service .text h2{
    font-weight: 600;
    font-size: 2.5rem;
}
.service .icon-box{
    border: 1px solid var(--text-white);
}

.project .text{
    border-left:6px solid var(--bg-secondary);
}
.project .text h2{
    font-weight: 600;
    font-size: 2.5rem;
}

.project img{
    max-width: 100%;
}

.project .gallery{
    position: relative;
}
.project .gallery img{
    width: 100%;
    height: auto;
}
.project .gallery .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(24, 35, 51, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all ease-in-out .3s;
}
  
.project .gallery:hover .overlay {
    height: 100%;
  }
.project .gallery .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid var(--text-white);
    width: 90%;
    height: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all ease-in-out .5s;
}
.project .gallery .text p{
    color: var(--text-primary);
    font-size: 1rem;
    margin-bottom: 0.8rem;
}
.project .gallery .text a{
    color: var(--text-white);
    transition: all ease-in-out .7s;
}
.project .gallery .text h3{
    font-size: 1.3rem;
}
.project .gallery .text a:hover{
    color: var(--text-primary);

}
.team .text{
    border-left:6px solid var(--bg-primary);
}
.team .text h2{
    font-weight: 600;
    font-size: 2.5rem;
}
.contact .text{
    border-left:6px solid var(--bg-secondary);
}
.contact .text h2{
    font-weight: 600;
    font-size: 2.5rem;
}
.footer .text{
    border-left:6px solid var(--bg-primary);
}
.footer .calendar li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 0;
    border-bottom: 1px solid var(--bg-white);
}
.footer li a{
    font-size: 1rem;
}
.footer .lbtn:hover {
    color: var(--text-white);
}


.footer .social{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .credit{
    display: flex;
    justify-content: space-between;
}
